* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
  text-decoration: underline;
}


/*header*/
header {
  position: fixed;
  background-color: black;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  z-index: 2;
}

div.logo {
  padding-left: 10px;
}

img.logo {
  height: 50px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

span.nav-item {
  padding: 0px 12px;
}


main {
  width: 1200px;
}

/*mission*/
div#mission {
  height: 700px;
  background-image: url('./img/img-mission-background.jpg');
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  position: relative;
  margin-top: 70px;
}

div.title {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

h2, h4 {
  color: inherit;
  font-weight: bold;
  padding: 10px;

}

h2 {
  font-size: 2em;
}
